@font-face {
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-family: Playfair;
}
@font-face {
  src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  font-family: PlayfairItalic;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../resources/bg.jpg");
  background-size: 150%;
  margin: 1em 3em;
  color: white;
  height: 85vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 7%;
}
header nav {
  width: 30%;
  margin-right: 5%;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-left: 1em;
}
main .left-side-container {
  width: 100%;
}
main .left-side-container #floor {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 50%;
  padding: 3%;
  object-fit: cover;
  object-position: center bottom;
  background-image: url("../resources/floor-picture.jpg");
  background-position: 60% 50%;
  background-size: 105% 105%;
  transition: all 0.5s;
}
main .left-side-container #floor:hover {
  padding: 0;
  height: 50%;
}
main .left-side-container h1 {
  margin: 0 auto;
  width: 60%;
  font-size: 76px;
  display: flex;
  flex-direction: column;
}
main .left-side-container h1 #first-name {
  align-self: flex-start;
}
main .left-side-container h1 #last-name {
  align-self: flex-end;
}
main .left-side-container #quote {
  margin-top: 5%;
  margin-left: 10%;
  width: 100%;
  text-align: left;
}
main .left-side-container #quote h2 {
  margin-left: 40%;
  font-size: 28px;
  font-family: PlayfairItalic, serif;
  color: #247B82;
}
main .left-side-container #quote p {
  margin-right: 20%;
  text-align: right;
  font-size: 24px;
  font-style: italic;
}
main .right-side-container {
  width: 100%;
  height: 100%;
}
main .right-side-container #red-dress {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding: 1.5% 3%;
  width: 80%;
  height: 50%;
  background-image: url("../resources/mountains.jpg");
  background-position: 25% 50%;
  transition: all 0.5s;
  margin-bottom: 1em;
}
main .right-side-container #red-dress:hover {
  padding: 0;
  width: 80%;
}
main .right-side-container .socials {
  display: flex;
  list-style: none;
  height: 10%;
  width: 20%;
  justify-content: space-around;
  margin-left: 70%;
  margin-top: 2em;
}
main .right-side-container .socials li a img {
  height: 3em;
}
main .right-side-container .socials #fb {
  align-self: flex-end;
}
main .right-side-container .socials #ig {
  align-self: center;
}
main .right-side-container .socials #tw {
  align-self: flex-start;
}
main .right-side-container .mag-covers {
  display: flex;
  width: 75%;
  margin: 1em auto;
  justify-content: space-between;
}
main .right-side-container .mag-covers .mag-container {
  position: relative;
}
main .right-side-container .mag-covers .mag-container .cover {
  padding: 0.5%;
  background-color: white;
  width: 15em;
  height: 20em;
}
main .right-side-container .mag-covers .mag-container p {
  font-size: 20px;
  position: absolute;
  left: 10%;
  bottom: 50%;
}

/*# sourceMappingURL=style.css.map */
