@font-face{
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-family: Playfair;
}

$fonts: Playfair, serif;
$background: url("../resources/bg.jpg");
$main-text: white;
$secondary-text: #247B82;
$title-font: 76px;
$s-font: 24px;
$m-font: 28px;