@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: $background;
  background-size: 150%;
  margin: 1em 3em;
  color: $main-text;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width:7%;
  }

  nav{
    width:30%;

      ul{
      display: flex;
      list-style: none;
      justify-content: space-between;

      li a{
        text-decoration: none;
        color: $main-text;
        font-size: $nav-font;
      }
    }
  }
}

main{
  display: flex;
  width: 100%;
  justify-content: space-between;

  .left-side-container{
    width:100%;

    h1{
      margin: 0 auto;
      width:60%;
      font-size: $title-font;
      display: flex;
      flex-direction: column;

      #first-name{
        align-self: flex-start;
      }
      #last-name{
        align-self: flex-end;
      }
    }

  }

  .right-side-container{
    width: 100%;
  }
}